@charset "utf-8";

body {
    padding: 0;
    margin: 0;
}

.menu {
    width: 100%;
    height: 44px;
    background: black;
}

.information {
    width: 100%;
    height: 46px;
    background: rgb(104, 103, 103);
}

.iphone-12 {
    width: 100%;
    height: 690px;
    background: url(../apple_images/iphone-12.jpg);
    margin-bottom: 12px;
}

.iphone-12-pro {
    width: 100%;
    height: 690px;
    background: black;
    margin-bottom: 12px;
}

.ipad {
    width: 100%;
    height: 690px;
    background: black;
    margin-bottom: 12px;
}

.sortbytwo {
    margin-left: 12px;
    margin-right: 12px;
    height: 1776px;
    background:rgb(202, 201, 201);
}

footer {
    width: 100%;
    height: 596.719px;
    background:rgb(175, 174, 174);
}